In [1]:
import pandas as pd
arquivo = pd.read_csv('/home/stain/Documents/MachineLearning/Datasets/LosAngelesTrafficColision/traffic-collision-data-from-2010-to-present.csv')

arquivo.head()

   DR Number  ... Neighborhood Councils (Certified)
0  191323054  ...                              46.0
1  192020666  ...                              89.0
2  191616992  ...                               7.0
3  191824082  ...                              45.0
4  191616980  ...                              21.0

[5 rows x 24 columns]

In [2]:
arquivo.shape

(502858, 24)

In [3]:
# Para que não apenas troquemos para um valor representativo (ID) uma coluna String e o agregamento de peso em uma variável informativa, usamos a função One-hot encoding trocando cada valor em String para um valor binário.

area_encode = pd.get_dummies(arquivo['Area Name'])
area_encode.head()

   77th Street  Central  Devonshire  ...  West LA  West Valley  Wilshire
0            0        0           0  ...        0            0         0
1            0        0           0  ...        0            0         0
2            0        0           0  ...        0            0         0
3            0        0           0  ...        0            0         0
4            0        0           0  ...        0            0         0

[5 rows x 21 columns]

In [4]:
concatenado = pd.concat([arquivo, area_encode], axis = 1)
concatenado.drop('Area Name', axis = 1, inplace = True)
concatenado.head()

   DR Number            Date Reported  ... West Valley  Wilshire
0  191323054  2019-11-30T00:00:00.000  ...           0         0
1  192020666  2019-11-30T00:00:00.000  ...           0         0
2  191616992  2019-11-30T00:00:00.000  ...           0         0
3  191824082  2019-11-30T00:00:00.000  ...           0         0
4  191616980  2019-11-30T00:00:00.000  ...           0         0

[5 rows x 44 columns]