In [35]:
import pandas as pd
pd.set_option('display.max_columns', 21)
dados = pd.read_csv('/home/stain/Documents/MachineLearningDidaticaTech/Datasets/HouseSalesKingCounty/kc_house_data.csv')

dados.head()

# O exercício pedia para que treinassemos um modelo usando regressão Linear, com base nos dados de casas vendidas em um certa região nos EUA.
# Para completar, decidi também aprender a como testar o modelo com certos valores, forneci as informações da primeira linha, e chequei se ele me retornaria um price aproximado ao real.

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [36]:
# Dando drop nas colunas que não serão utilizadas
dados.drop('id', axis = 1, inplace = True)
dados.drop('date', axis = 1, inplace = True)
dados.drop('zipcode', axis = 1, inplace = True)
dados.drop('lat', axis = 1, inplace = True)
dados.drop('long', axis = 1, inplace = True)

In [37]:
y = dados['price']
# Pego todas as colunas, menos a 'price'
x = dados.drop('price', axis = 1)

xTest = dados.drop('price', axis = 1).iloc[1]

In [38]:
from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3, random_state = 3)

In [39]:
from sklearn.linear_model import LinearRegression

modelo = LinearRegression()
modelo.fit(x, y)

LinearRegression()

In [40]:
modelo.coef_

array([-3.93066524e+04,  4.57450017e+04,  1.09268480e+02, -1.60061930e-03,
        2.68787845e+04,  5.79071616e+05,  4.32353616e+04,  1.95103595e+04,
        1.19721824e+05,  5.15164696e+01,  5.77520102e+01, -3.57015920e+03,
        1.01595783e+01,  2.48732761e+01, -5.50504053e-01])

In [41]:
modelo.intercept_

6195319.951873773

In [42]:
resultado = modelo.score(x_teste, y_teste)

In [44]:
print(resultado)
# O modelo possui um score de 65%

0.6527537251914415

In [45]:
xTest = xTest.values.reshape(1, -1)
# Testando um 
pred = modelo.predict(xTest)

In [46]:
# Valor final previsto sob acuracia de 65%
print(pred)

[639045.27528083]